body {
  margin: 0;
  padding: 0;
  /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover; }

section {
  overflow: hidden; }

.cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

#home {
  height: 100vh;
  width: 100vw;
  /* The only rule that matters */
  /* These just style the content */ }
  #home #video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; }
  #home div {
    /*  just a fancy border  */
    border: 15px solid rgba(238, 16, 63, 0.4);
    margin: auto;
    height: 90%;
    width: 95%; }
    #home div img {
      max-height: 30vw;
      background-color: rgba(255, 255, 255, 0.2);
      margin: auto;
      padding: 3%; }
  #home h1 {
    background-image: url("../images/bg-black-opacity-70.png");
    padding: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 3px;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center; }
  #home h1 span {
    font-family: sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px; }
  #home h1 span a {
    color: #fff; }

#us {
  background: rgba(68, 8, 18, 0.9);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 3%; }
  #us div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    #us div h1 {
      font-size: calc(1.5em + 1.5vw);
      padding: 2vw;
      font-style: italic;
      font-weight: bolder;
      color: #fff;
      margin: auto;
      text-align: center;
      letter-spacing: 3px; }

#services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #services .row {
    width: 100%; }
    #services .row > div {
      padding: 2vw;
      letter-spacing: 3px; }
    #services .row .s12 {
      font-size: calc(2em + 1.5vw);
      text-align: center;
      color: white;
      font-weight: bolder; }
    #services .row .carousel {
      font-size: 2em;
      font-size: calc(.2em + .7vw);
      font-weight: bolder;
      color: #fff;
      margin: auto;
      text-align: center; }
      #services .row .carousel i.tiny {
        font-size: calc(.2em + .5vw); }

#clients {
  background: rgba(12, 12, 12, 0.9);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #clients .row {
    width: 100%;
    color: #fff; }
    #clients .row:first-child {
      font-size: calc(5.5em + 1.5vw);
      padding: 2vw;
      font-weight: bolder;
      color: #fff;
      margin: auto;
      text-align: center;
      letter-spacing: 3px; }
    #clients .row:last-child ul {
      font-size: calc(.2em + 1.1vw);
      font-weight: bolder;
      color: #fff;
      margin: auto; }
      #clients .row:last-child ul li {
        text-align: center;
        letter-spacing: 3px;
        padding: 2vw;
        opacity: 0; }

footer {
  text-align: right;
  height: 5em;
  padding: 2vw;
  background-color: #222222;
  color: white;
  font-weight: bolder; }
