// COLORS
$borderColor:  rgba(238, 16, 63, .4);
$imgBg:  rgba(255, 255, 255, 0.2);
$darkGray: rgba(12, 12, 12, .9);
$gray: rgba(34, 34, 34, .9);
$wine: rgba(68, 8, 18, .9);

body {
  margin: 0;
  padding: 0;
  /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

section {
  overflow: hidden;
}

.cc {
  display: flex;
  justify-content: center;
  align-content: center;
}
  
#home {
  height: 100vh;
  width: 100vw;
  /* The only rule that matters */
  #video-background {
  /*  making the video fullscreen  */
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
  }
  
  /* These just style the content */
  div {
  /*  just a fancy border  */
    border: 15px solid $borderColor;
    margin: auto;
    height: 90%;
    width: 95%;
    img {
      max-height: 30vw;
      background-color: $imgBg;
      margin: auto;
      padding: 3%;
    }
  }
  
  h1 {
    background-image: url('../images/bg-black-opacity-70.png');
    padding: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 3px;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
  }
  
  h1 span {
    font-family: sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
  
  h1 span a {
    color: #fff;
  }
}

#us {
  background: $wine;
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 3%;
  
  div {
    display: flex;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    h1 {
      font-size: calc(1.5em + 1.5vw);
      padding: 2vw;
      font-style: italic;
      font-weight: bolder;
      color: #fff;
      margin: auto;
      text-align: center;
      letter-spacing: 3px;
    }
  }
}

#services {
  position: relative;
  display: flex;

  >div {
    width: 100%;

    &:first-child {
      i.tiny {
        font-size: calc(2em + 1.5vw);
    }
      font-size: calc(2em + 1.5vw);
      padding: 2vw;
      font-weight: bolder;
      color: #fff;
      margin: auto;
      text-align: center;
      letter-spacing: 3px;
    }
  }
}

#clients {
  background: $darkGray;
  position: relative;
  display: flex;

  .row {
    width: 100%;
    color: #fff;

    &:first-child {
      font-size: calc(5.5em + 1.5vw);
      padding: 2vw;
      font-weight: bolder;
      color: #fff;
      margin: auto;
      text-align: center;
      letter-spacing: 3px;
    }  

    &:last-child {
      ul {
        font-size: calc(.2em + 1.1vw);
        font-weight: bolder;
        color: #fff;
        margin: auto;
        li {
          text-align: center;
          letter-spacing: 3px;
          padding: 2vw;
          opacity: 0;
        }
      }
    }
  }
}

footer {
  text-align: right;
  height: 5em;
  padding: 2vw;
  background-color:rgb(34, 34, 34);
  color: white;
  font-weight: bolder;
}